.artWrapper {
  width: 100%;
  height: 900px;
  position: relative;
  overflow: hidden;
}

.artContainer {
  width: 100%;
  height: 100%;
}

.p5Container {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .artWrapper {
    height: 550px;
  }
}