.artContainer {
  width: 100%;
  height: 740px;
  position: relative;
  overflow: hidden;
}

.p5Container {
  width: 100%;
  height: 100%;
}

@media (max-width: 100%) {
  .artContainer {
    height: 500px;
  }
}
